p {
    background-color: green;
    border: none;
    width: 12%;
    padding: 2px 20px 150px 2px;
    font-size: 20px;
}

p:active {
    position: relative;
    transition: 1s;
    top: 100px;
    left: 50px;
    transform: rotate(45deg);
}